
<div class="card">
    <h1> Job Title: {{job_title}} </h1> 
    <h1 id="employer"> Employer: {{employer}} </h1>
    <img> {{employer_picture}} </img> 
    <h1> Job Type: {{job_type}} </h1>
    <h1> Job Description: {{descripton}} </h1>
    <h1> Beginner Skill Price: {{beg_price}} </h1>
    <h1> Intermediate Skill Price: {{int_price}} </h1>
    <h1> Advanced Skill Price: {{adv_price}} </h1>
    <h1> Employer Email: {{emp_email}} </h1>
    <h1> Employer Phone: {{emp_phone}} </h1>
    <h1> Employer LinkedIn: {{emp_linkedin}} </h1>
    <h1> Employer Website: {{emp_site}} </h1> 

    {{!-- <p id="employer">First lettering</p> --}}

    
</div>


